.content-body {
  min-height: 100%;
  padding: 60px 1rem;
  background-color: #c6d47f;
  display: block;
}

mat-card {
  max-width: 400px;
  margin: 15rem auto;
  text-align: center;
  max-height: 600px;
}

mat-form-field {
  max-width: 210px;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
 }
 